@model ContatoModel
@{
    ViewData["Title"] = "Editar contato";
}

<div class="text-center">
    <h1 class="display-4"> Editar contato</h1>
</div>

<form asp-controller="Contato" asp-action="Alterar">
    <input type="hidden" asp-for="Id"/> <!-- Campo oculto para informar ao formulário qual é o id do registro após atualizar no banco de dados -->
    <div class="form-group mb-3">
        <label class="mb-1" for="nome">Nome</label>
        <input type="text" asp-for="Nome" id="nome" class="form-control" placeholder="Digite o nome do contato">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="form-group mb-3">
        <label for="email">E-mail</label>
        <input type="email" asp-for="Email" id="email" class="form-control" placeholder="exemplo@gmail.com" />
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="form-group">
        <label for="celular">N° Celular</label>
        <input type="tel" asp-for="Celular" id="celular" name="celular" class="form-control" pattern="[0-9]{11}" maxlength="11" placeholder="(19) 9-99999999" />
        @Html.ValidationMessageFor(x => x.Celular)
    </div>

    <div class="d-grid gap-2 mt-3">
        <button type="submit" class="btn btn-primary">Alterar</button>
        <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
    </div>

</form>

